<h1>Appointment Details for <%= @patient.name %></h1>

<p> <% @patient.appointments.each do |appt| %>
  <li>Date: <%= appt.date %></li>
<%end%></p>
<p> <% @patient.appointments.each do |appt| %>
  <li>Time: <%= appt.time %></li>
<%end%></p>
<p> <% @patient.appointments.each do |appt| %>
  <li>Doctor: <%= link_to appt.doctor_name, doctor_path(appt.doctor)%></li>
<%end%></p>
<p> <% @patient.appointments.each do |appt| %>
  <li>Doctor: <%= link_to appt.patient_name, patient_path(appt.patient)%></li>
<%end%></p>
