<h1>Appointment Details for <%= @patient.name %></h1>

<p> <% @patient.appointments.each do |appt| %>
  <li>Date: <%= appt.date %></li>
<%end%></p>
<p> <% @patient.appointments.each do |appt| %>
  <li>Time: <%= appt.time %></li>
<%end%></p>
<p> <% @patient.appointments.each do |appt| %>
  <li>Doctor: <%= link_to @patient.appt.doctor_name, doctor_path(@appointment.doctor)%></li>
<%end%></p>
<p>Patient: <%= link_to @patient.appointment.patient_name, patient_path(@appointment.patient) %></p>
